body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.container {
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  background: #334155;
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  font-size: 22px;
  font-weight: bold;
}

.highlight {
  background: #16a34a;
}

.reset-btn {
  margin-top: 30px;
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background: red;
  color: white;
  cursor: pointer;
}

.reset-btn:hover {
  background: darkred;
}